*{box-sizing: border-box; margin: 0; padding: 0;}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F8FA;
  color: #33475b;
}

.white-text{
  color:white;
}

.container90{
  width: 90%;
  margin: auto;
}

.container70{
  width: 70%;
  margin: auto;
}

.container60{
  width: 60%;
  margin: auto;
}

.topbar{
  background-color: #314151;

}
.h50{
  height: 50px;
}

.small-logo img{
  width: 25px;
  display: inline-block;
}

.small-logo{
  position: relative;
  height: 100%;
  display: inline-block;
  width: 150px;
  float:left;
}

.stay-left{
  float: left;
}

.stay-right{
  float: right;
}

.staycenter{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.topbar-link{
  height: 100%;
  float: left;
}

.topbar-link ul, .topbar-link li{
  height: 100%;
  line-height: 50px;
  list-style-type: none;
  display: inline-block;

}

.topbar li{
  padding: 0 5px;
}

.navright.stay-right>*{
  line-height: 50px;
}

#search-top{
  border-right: 1px solid red;
  padding: 0 10px;
}

.middletopbar{
  background-color: #F5F8FA
}


.middletopbar>*{
  line-height: 50px;
}

.language-select{
  height: 50px;
  padding: 0 10px;
}

#separatore{
  border-right: 1px solid black;
  padding: 0 15px;
}

#tel{
  padding: 0 15px;
}

.fixsearchbutton{
  position: relative;
  width: 150px;
}

.searchbutton{
  display: inline-block;
  height: 30px;
  width: 100px;
  color: white;
  background: orange;
  border: 1px solid grey;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
}


.clearfix:after{
  content:" ";
  display: table;
  clear: both;
}
.logo, .link{
  height: 50px;
  width:50px;
  background-color: red;
}

nav{
  height: 50px;
}

.promo{
  background: linear-gradient(to right, rgba(0,154,182,1) 0%,rgba(124,208,221,1) 98%);
  width: 100vw;
  height: 620px;
  background-image: url('img/bkg-promo.png');
  background-size: cover;
}

.text-content{
  width: 50%;
  height: 500px;
  position: relative;
}
.text-promo{
  width: 100%;
}
.text-promo h1{
  font-size: 60px;
}
.text-promo p{
  font-size: 20px;
}

.img-powerful{
  width: 15%;
  margin: 50px auto;
}

.text-powerful{
  width: 70%;
  margin: auto;
  text-align: center;
}

.service{
  margin-top: 35px;
  background-color: white;
  border-radius: 5px;
  height:250px;
}

.card-service{
  height: 100%;
}

.card-service-left{
  width: 35%;
  text-align: center;
}
.card-service-left > img{
  margin-top: 20px;
  width: 60%;
}

.card-service-right{
  width: 65%;
  height: 100%;
  position:relative;
}

.button{
  margin: auto;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  background-color: orange;
  color:white;
  line-height: 30px;
  text-align: center;
}

.button::after{
  content: "Learn More"
}

.card-service-right-text{
  width: 70%;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%,-50%);
}

.card-service-right-text > p{
margin-top: 15px;
}

#features::after{
  content: 'EEEEEEEEEEEEEEEEEEEEEEEEE';
  color: white;
  height: 2px;
  border-bottom: 1px solid grey;
  width: 100%;
}

.card-service-right-text li {
  display: inline-block;
  padding: 0 15px;
  list-style-type: none;
}

.colonna{
  width:30%;
  background-color: white;
  border-radius: 5px;
  margin: 50px 1.2%;
}

.colonna>hr{
  width:70%;
  margin: 3px auto;
}

.table{
  background: linear-gradient(to right, rgba(0,154,182,1) 0%,rgba(124,208,221,1) 98%);
  width: 100vw;
  height: 1000px;
  position: relative;
}

.message{
  text-align: center;
}

.grid{
  margin-top: 50px;
}

.quadrato{
  float: left;
  width: 25%;
  height: 170px;
  border: 1px solid white;
  text-align: center;
  position: relative;
}


#square1{
    border-top: none;
    border-left: none;
}

#square2 , #square3{
    border-top: none;
}

#square4{
    border-top: none;
    border-right: none;
}

#square5{
    border-left: none;
    border-bottom: none;
}

#square6 , #square7{
  border-bottom: none;
}

#square8{
  border-right: none;
  border-bottom: none;
}

.customer-text h4{
  font-size: 35px;
}

.customer-text p{
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
}


.n-customer{
  width: 30%;
  height: 200px;
  position: relative;
}

.gridcompanies{
  width: 70%;
  height: 200px;
  position: relative;
}

.companies-container{
  width: 100%;
}

.companies{
  float: left;
  width: 25%;
  height: 50px;
  position: relative;
}

.cta{
  margin-top: 50px;
  background-color: white;
}

.lastcta{
  height: 800px;
  position:relative;
}

.ctatextfix{
  width: 40%;
  height: 100%;
  margin: auto;
  position: relative;
}

.textcta{
  width: 100%;
}

.textcta *{
  padding: 20px 0;
}

.textcta h2{
  font-size: 30px;
}

.textcta span{
  font-size: 12px;
}

.gethubspot{
  width: 200px;
  height: 60px;
  background-color: orange;
  text-align: center;
  line-height: 60px;
  color: white;
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 20px;
}

.imagecta{
  width: 60%;
  height: 100%;
  position: relative;
}

.imagecta img{
  position: absolute;
  top: 50%;
  left:65%;
  transform: translate(-50%, -50%);
}

footer{
  background-color: #34495B;
  color:#efefef;
}

.footercol{
  width: 23%;
  margin: 1%;
}

.footercol span{
  font-weight: 900;
}


.footercol li{
  list-style-type: none;
  padding: 10px 0;
}

.mt80{
  margin-top: 80px;
}

#footerbtn{
  margin: 0;
  width: auto;
  background-color:#EBEDEF;
  color:  #34495B;
}

#footerbtn::after{
  content:"Contact HubSpot Support"
}
.social{
  margin-top: 25px;
}

.social *{
  font-size: 25px;
  margin: 10;
  padding: 0 10px;
}

.language{
  width: 70%;
  margin: 25px auto;
  text-align: center;
}

.language a , .legal a{
  text-decoration: none;
  color: inherit;
  padding: 0 50px;
}

.endfooter , .endfooter *{
  margin-top: 15px;
}
